body {
	padding-bottom: 50px;/*any scrolling would be hidden by the navbar without this*/
}
#canvas {
	display: table;
	margin: 0 auto;
}
.digitOn {
	color: #403D18;
}
.digitOff {
	color: #E9E8DA;
}
.digitOutline {
	color: #000000;
}
.digitBackground {
	color: #E2DEB1;
}

.canvas {
	background-color: #E2DEB1;
	padding: 3px 0;
}

#timer_entry {
	display: table;
	margin: 0 auto;
}

#timer_warning {
	display: none;
	background-color: red;
}

/*#timer_table {
	margin: 0 auto;
	width: 904px;
}*/

#timer_table th{
	color: #DCC6E0;/*#BE90D4;*/
	background-color: #674172;/*#663399;*/
}

#timer_table tr:nth-child(odd){
	background-color: #F2F1EF;
}

#timer_table tr.timer_table_selected:nth-child(odd) {
	background-color: #F89406;
}

#timer_table tr:nth-child(even){
	background-color: #DADADA;
}

#timer_table tr.timer_table_selected:nth-child(even) {
	background-color: #F89406;
}

#timer_table tr:hover {
	background-color: #19B5FE;
}

#timer_table tr.timer_table_selected:hover {
	background-color: #F89406;
}

ul li:hover {
	backgrond-color: #00FF00;
}

